<form novalidate class="form-container" method="POST">
    <input
        id="username"
        type="text"
        name="username"
        required
        placeholder="Username"
        minlength="3"
    />
    <span class="error" id="usernameError"></span>
    <input id="email" type="email" required placeholder="Email" name="email" required />
    <span class="error" id="emailError"></span>
    <button id="register" type="button">Register</button>
</form>
