* {
    box-sizing: border-box;
}

.form-container {
    display: flex;
    margin: 0 auto;
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 1em;
    padding: 1em;
    flex-direction: column;
}

.form-container h2 {
    margin: 0 auto;
}

.form-container input {
    margin: 5px auto;
    padding: 5px;
    width: 200px;
    border: none;
    border-bottom: 2px solid #111;
    outline: none;
}

.form-container button {
    margin: 15px auto;
    width: 70px;
}

.error {
    color: red;
    margin: 0 auto;
}

.strength-meter {
    position: relative;
    margin: 5px auto;
    width: 200px;
    height: 1rem;
    border: 3px solid grey;
    border-radius: 1rem;
    overflow: hidden;
}

.strength-meter::before {
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: calc(1% * var(--strength, 0));
    background-color: red;
    transition: width 200ms;
}

.reasons {
    margin: 0 auto;
    color: red;
}

.hidden {
    visibility: hidden;
}
